always-auth=true
registry=https://gitlab.com/api/v4/projects/24498478/packages/npm/
//gitlab.com/api/v4/projects/24498478/packages/npm/:_authToken=xhyfcutFv4Cmt2z1-uTu
@flicket:registry=https://gitlab.com/api/v4/projects/59361808/packages/npm/
//gitlab.com/api/v4/projects/59361808/packages/npm/:_authToken=xhyfcutFv4Cmt2z1-uTu
scope=Flicket-Sporting
